!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body!= body
